.DS_Store
.git/
.texpadtmp/
Literature
Submission_Feedback
*.aux
*.bbl
*.fls
*.out
*.toc
*.synctex.gz
*.log
*.lot
*.fdb_latexmk
*.blg
*.lof
macros.pdf
ufdissertation-*
dedicationFile.tex
table-old.tex
